@import "reset.css";

@font-face {
  font-family: "UhBeepuding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeepuding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "UhBeepuding";
}

body {
  background-color: #ffec9d;
}

.container {
  display: grid;
  row-gap: 30px;
  max-width: 70%;
  margin: 50px auto;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #7d7e7e;
}

header h2 {
  font-size: 24px;
}

header .date /*가독성을 위해 header를 붙여줌*/ {
  font-size: 20px;
}

/*Todo Input*/
.input-box {
  background-color: #c0e0fe;
  border-radius: 10px;
  height: 40px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 10px;
  padding: 0 10px;
}

.input-box input {
  border: none;
  border-bottom: 1px solid #7d7e7e;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  padding: 3px 2px;
}

.input-box button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*Todo Box*/
.todo-box {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin-top: 10px;
  background-color: #fcf4db;
  border-radius: 10px;
  min-height: 400px;
  padding: 30px;
}

.todo-box h3 {
  font-size: 23px;
  padding-bottom: 17px;
}

.todo-box__line {
  border: 1px dashed rgba(125, 126, 126, 0.5);
  margin: 5px 20px;
}

.todo-box ul {
  display: grid;
  row-gap: 10px;
}
